html, body, figure, img, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, a, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 0.625em;
    align-items: center;
}

.dropDown2 {
    display: none;
}

.imagemUsuario {
    border: 2px solid #415AF3;
    border-radius: 50%;
    width: 3.125em;
    cursor: pointer;
}

.secaoUsuario {
    display: flex;
    background-color: #415AF3;
    justify-content: space-around;
    align-items: center;
    height: 9.375em;
    margin-top: 15px;
}

.secaoUsuario h3 {
    color: #ffff;
}

.imagemDaSecaoDoUsuario {
    border: 2px solid #ffff;
    border-radius: 50%;
    width: 5em;
    cursor: pointer;
}

main {
    margin-top: 50px;
}

main div h4 {
    font-size: 20px;
    margin-left: 18px;
}

.ulFiltros {
    display: flex;
    margin-top: 28px;
    justify-content: space-around;
    align-items: center;
}

.ulFiltros li h5 {
    color: #343A40;
    font-size: 14px;
}

.botaoCriar {
    color: #ffff;
    border: none;
    border-radius: 4px;
    width: 70px;
    height: 30px;
    background-color: #415AF3;
    cursor: pointer;
}

.ulStatus {
    margin-top: 10px;
    align-items: center;
    
}

.ulStatus li {
    display: flex;
    justify-content: space-around;
    
}

.descricao {
    display: none;
}

.categoria {
    display: none;
}

.descricao2 {
    display: none;
}

.categoria2 {
    display: none;
}

.ulStatus li h5 {
    color: #A1A1A1;
    font-size: 15px;
}

.statusCabecalho{
    margin-left: -12px;
}

.tituloCabecalho{
    
}

.descricao{
    margin-left: 140px;
}

.categoria{
    margin-left: 42px;
}

.ulHabitos li {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #EBEBEB;
    padding: 5px;
}

.ulHabitos li:hover {
    background-color: #E9ECEF;
}

.ulHabitos li p {
    font-size: 14px;
}

.botaoCarregarMais {
    display: flex;        
    justify-content: center;
    align-items: center;
    padding: 12px 28px;
    gap: 10px;
    width: 152px;
    height: 32px;
    background: #415AF3;
    border: 2px solid #415AF3;
    border-radius: 4px;
    color: white;
    margin-top: 20px;
    margin-left: 40%;
    cursor: pointer;

}

/*Modal criar tarefa*/

.backgroundModalCriar {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.containerModalCriar {
    background-color: #fff;
    width: 90%;
    height: 385px;
    max-width: 500px;
    border-radius: 8px;
}

.headerModalCriar {
    height: 40px;
    padding: 5px 15px 5px 15px;
    margin: 10px 5px 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}

.headerModalCriar button {
    background-color: #fff;
    color: black;
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.headerModalCriar button:hover {
    color: #ADB5BD;
}

.bodyModalCriar {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.bodyModalCriar form {
    width: 92%;
    margin: 0 auto;
}

.bodyModalCriar label{
    font-weight: 400;
    font-size: 13px;
}

.bodyModalCriar input {
    background-color: #F1F3F5;
    padding: 0px;
    padding-left: 8px;
    border: none;
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.bodyModalCriar input::placeholder {
    color: #343A40;
    font-weight: 400;
    font-size: 16px;
}

.bodyModalCriar input:invalid {
    border: 1px solid #E64445;
}

.bodyModalCriar select {
    background-color: #F1F3F5;
    color: #343A40;
    width: 100%;
    height: 38px;
    padding: 0px;
    border: none;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 16px;
}

.bodyModalCriar button {
    background-color: #415AF3;
    color: #fff;
    width: 99%;
    height: 38px;
    padding: 0px;
    border: none;
    border-radius: 4px;
    margin-left: 4.5px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.bodyModalCriar button:hover {
    opacity: 0.5;
}

.offModalCriar {
    display: none;
}

.dropDownDisplay {
    display: block;
    position: absolute;
    right: 0;
    height: 71px;
    margin-right: 40px;
    background-color: #EBEBEB;
    border-radius: 5px;
    align-items: center;
}

.dropDownDisplay div h5 {
    margin-left: 20px;
}

.dropDownDisplay div .sairDoApp {
    margin-left: 8px;
}

.dropDownDisplay div {
    display: flex;
    margin-top: 6px;
    justify-content: center;
}

.dropDownDisplay div img {
    width: 10px;
}

.divTarefas2 {
    margin-top: 80px;
}

.x {
    margin-top: 5px;
    margin-left: 107px;
}

.message {
    display: none;
}

.message2 {
    display: flex;
    
}

.botaoTodos {
    cursor: pointer;
}

.botaoTodos {
    cursor: pointer;
}

.titulo {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.backgroundModalEditar{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}
.containerModalEditar{
    background-color: #fff;
    width: 90%;
    height: 385px;
    max-width: 500px;
    border-radius: 8px;
}
.headerModalEditar{
    height: 40px;
    padding: 5px 15px 5px 15px;
    margin: 10px 5px 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}
.headerModalEditar button {
    background-color: #fff;
    color: black;
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.headerModalEditar button:hover {
    color: #ADB5BD;
}
.bodyModalEditar{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.bodyModalEditar form {
    width: 92%;
    margin: 0 auto;
}

.bodyModalEditar label{
    font-weight: 400;
    font-size: 13px;
}

.bodyModalEditar input {
    background-color: #F1F3F5;
    padding: 0px;
    padding-left: 8px;
    border: none;
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.bodyModalEditar input::placeholder {
    color: #343A40;
    font-weight: 400;
    font-size: 16px;
}

.bodyModalEditar input:invalid {
    border: 1px solid #E64445;
}

.bodyModalEditar select {
    background-color: #F1F3F5;
    color: #343A40;
    width: 100%;
    height: 38px;
    padding: 0px;
    border: none;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 16px;
}

.editarBotoesDiv{
    /* padding: 5px 15px 5px 15px; */
    margin: 10px 5px 20px 5px;
    display: flex;
    justify-content: space-evenly;
}

.editarBotoesExcluir{
    /* cursor: pointer; */
    width: 40%;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    background-color: #F1F3F5;
    color: #000;
}
.editarBotoesExcluir:hover{
    cursor: pointer;
    background-color: #E9ECEF;
}
.editarBotoesSalvar{
    /* cursor: pointer; */
    width: 55%;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    background-color: #415AF3;
    color: #fff;
}
.editarBotoesSalvar:hover{
    cursor: pointer;
    background-color: #A0ADF9;
}

.offModalEditar{
    display: none;
}

.editarBotao:hover{
    cursor: pointer;
}

.editarPerfilBotao {
    border: none;
    cursor: pointer;
    margin-left: 13px;
}

.sairDoAppBotao {
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
.backgroundModalDeletar{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}
.containerModalDeletar{
    background-color: #fff;
    width: 90%;
    height: 385px;
    max-width: 500px;
    border-radius: 8px;
}
.headerModalDeletar{
    height: 10%;
    padding: 5px 15px 5px 20px;
    margin: 10px 5px 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}
.headerModalDeletar h2{
    font-size: 20px;
}
.headerModalDeletar button{
    font-size: 20px;
    font-weight: 400;
    width: 5%;
    border: none;
    background-color: #fff;
    color: #ADB5BD;
}
.headerModalDeletar button:hover{
    cursor: pointer;
}
.bodyModalDeletar{
    margin: 10px 5px 20px 5px;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bodyModalDeletar h3{
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
}
.bodyModalDeletar p{
    font-size: 16px;
    padding: 10px;
    padding-left: 20px;
}
.botoesDeletar{
    padding: 5px 15px 5px 15px;
    margin: 10px 5px 20px 5px;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
}
.botaoCancelar{
    font-size: 16px;
    font-weight: 500;
    width: 40%;
    border: none;
    border-radius: 5px;
    background-color: #F1F3F5;
}
.botaoCancelar:hover{
    cursor: pointer;
    background-color: #E9ECEF;
}
.botaoExcluir{
    font-size: 16px;
    font-weight: 500;
    width: 55%;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color:#E64445;
}
.botaoExcluir:hover{
    cursor: pointer;
    background-color: #F03839;
}
.offModalDeletar{
    display: none;
}

.backgroundModalEditarPerfil {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.containerModalEditarPerfil {
    background-color: #fff;
    width: 90%;
    height: 315px;
    max-width: 500px;
    border-radius: 8px;
}

.headerModalEditarPerfil {
    height: 40px;
    padding: 5px 15px 5px 15px;
    margin: 10px 5px 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}

.headerModalEditarPerfil button {
    background-color: #fff;
    color: black;
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.headerModalEditarPerfil button:hover {
    color: #ADB5BD;
}

.bodyModalEditarPerfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.bodyModalEditarPerfil form {
    width: 92%;
    margin: 0 auto;
}

.bodyModalEditarPerfil label{
    font-weight: 400;
    font-size: 13px;
}

.bodyModalEditarPerfil input {
    background-color: #F1F3F5;
    padding: 0px;
    padding-left: 8px;
    border: none;
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.bodyModalEditarPerfil input::placeholder {
    color: #343A40;
    font-weight: 400;
    font-size: 16px;
}

.bodyModalEditarPerfil input:invalid {
    border: 1px solid #E64445;
}

.bodyModalEditarPerfil button {
    background-color: #415AF3;
    color: #fff;
    width: 99%;
    height: 38px;
    padding: 0px;
    border: none;
    border-radius: 4px;
    margin-left: 4.5px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.bodyModalEditarPerfil button:hover {
    opacity: 0.5;
}

.offModalEditarPerfil {
    display: none;
}

@media screen and (min-width: 500px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    header figure {
        margin-left: 25px;
    }

    .divImagemUsuario {
        margin-right: 25px;
    }

    .secaoUsuario {
        display: flex;
        justify-content: start;
    }

    .secaoUsuario figure {
        margin-left: 25px;
        margin-right: 20px;
    }
}


@media screen and (min-width: 768px) {
    main {
        margin-top: 25px;
    }

    main .divTarefas {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ulFiltros {
        margin-top: 0px;
        margin-right: 15px;
    }

    .ulFiltros li {
        padding: 15px;
    }

    .ulHabitos li {
        display: flex;
        justify-content: space-around;
        
    }

    .descricao {
        display: flex;
        
        
    }

    .categoria {
        display: flex;
    }

    .descricao2 {
        display: flex;
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
    }
    
    .categoria2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 12px;
        gap: 10px;
        width: 88px;
        height: 24px;
        background: #D7E4FB;
        border-radius: 4px;
        border: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #415AF3;

    }

    .secaoStatus-e-habitos {
        border: 1px solid #EBEBEB;
    }

    .botaoCarregarMais {
        display: flex;        
        justify-content: center;
        align-items: center;
        padding: 12px 28px;
        gap: 10px;
        width: 152px;
        height: 32px;
        background: #415AF3;
        border: 2px solid #415AF3;
        border-radius: 4px;
        color: white;
        margin-top: 20px;
        margin-left: 40%; 
        cursor: pointer;

    }
}

@media screen and (min-width: 1024px) {
    header {
        width: 1000px;
        margin: 0 auto;
        margin-top: 10px;
    }

   main {
    width: 1000px;
    margin: 0 auto;
   }
}

@media screen and (min-width: 1180px) {
    .dropDownDisplay {
        margin-right: 150px;
    }
}

@media screen and (min-width: 1366px) {
    .dropDownDisplay {
        margin-right: 235px;
    }

    .secaoUsuario figure {
        margin-left: 200px;
    }
}

@media screen and (min-width: 1440px) {
    .dropDownDisplay {
        margin-right: 17.500em;
    }

    .divTarefas2 {
        margin-top: 3.125em;
    }

    .secaoUsuario figure {
        margin-left: 14.688em;
    }
}

.editar2{
    border: none;
    background-color: white;
    color: gray;
    font-weight: bold;
    

}
